/SpaceRider/fmod_editor.log
/SpaceRider/.claude
/SpaceRider/.vscode
CLAUDE.md
/SpaceRider/Design
SpaceRider/fmod_editor.log
SpaceRider/.vsconfig
SpaceRider/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
.claude/settings.local.json
.claude/settings.local.rhookx-backup.json
.mcp.json
SpaceRider/Assets/\#GAME/BGM/fmod/.cache/
SpaceRider/Assets/Plugins/FMOD/Resources/FMODStudioSettings.asset
SpaceRider/Assets/\#GAME/BGM/fmod/Metadata/EventFolder/{14e55dec-7941-4a18-a0b7-9a8830d3e91b}.xml.meta
