/SpaceRider/fmod_editor.log
/SpaceRider/.claude
/SpaceRider/.vscode
CLAUDE.md
/SpaceRider/Design
SpaceRider/fmod_editor.log
SpaceRider/.vsconfig
SpaceRider/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
